TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SLACK_BOT_TOKEN=
SLACK_USER_TOKEN=
NOTION_TOKEN=
SCHOOL_EMAIL=
SCHOOL_PASSWORD=
SCHOOL_PORTAL_URL=
ROCKETMONEY_EMAIL=
ROCKETMONEY_PASSWORD=
PRIME_INTELLECT_API_KEY=
BLAND_API_KEY=
